.Q1 {
  /*text-align: center;*/
}

.Q1-header {
  /*text-align: center;*/
  /*background-color: #550;*/
  /*height: 150px;*/
  padding: 0.5rem;
  /*color: white;*/
}

.Q1-title {
  font-size: 1.5em;
}

.Q1-intro {
  font-size: large;
}

.dropdown-toggle {
  margin: 1rem;
}